body {
  font-family: sans-serif;
}

main { /* padded for locked sidebar */
  text-align: justify;
  margin-right: 5rem;
  position: relative;
}

main.with-menu {
  margin-right: 14rem;
}

nav {
  position: fixed;
  background-color: rgba(255, 0, 255, 0.25);
  padding: 0.5rem;
  z-index: 9999;
}

nav *{
  user-select: none;
}

/* slots */

p {
  display: table;
  border: 1px solid #aaa;
  font-size: 110%;
  font-weight: normal;
  height: 4.5rem;
}

p>span {
  display: table-cell;
  vertical-align: middle;
}
